/* ui-lib/theme/tokens/colors.css */

:root {
  /* BLUE */
  --blue-50:  #e3f2fd;
  --blue-100: #bbdefb;
  --blue-200: #90caf9;
  --blue-300: #64b5f6;
  --blue-400: #42a5f5;
  --blue-500: #2196f3;
  --blue-600: #1976d2; /* PRIMARY */
  --blue-700: #1565c0;
  --blue-800: #0d47a1;
  --blue-900: #0a387e;

  /* GRAY */
  --gray-50:  #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;

  /* STATUS */
  --red-600: #d32f2f;
  --green-600: #388e3c;
  --orange-600: #f57c00;
  --cyan-600: #0288d1;

  /* WHITE / BLACK */
  --white: #ffffff;
  --black: #000000;
}