/* ui-lib/theme/tokens/opacity.css */

:root {
  /* Opacity Scale */
  --opacity-0: 0;
  --opacity-disabled: 0.6;
  --opacity-hover: 0.04;
  --opacity-light: 0.12;
  --opacity-medium: 0.38;
  --opacity-high: 0.6;
  --opacity-full: 1;
}

